/* Estilos para tp obligatorio */

/* padding para el body por el fixed navbar */
body {
    padding-top: 80px;
}

/* efecto de hover para la tabla */
table tbody tr:hover {
    background-color: #e5f4ff;
}

/* estilo custom boton */
button, input[type="submit"] {
    transition: background-color 0.3s ease;
}

/* ajustes para que sea mas responsive */
@media (max-width: 640px) {
    nav ul {
        flex-direction: column;
        space-y-4;
    }
    table {
        font-size: 0.9rem;
    }
}